* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(IMG/background.png);
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background-color: hsl(210, 100%, 40%);
    border: 2px solid hsl(210, 100%, 40%);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.container h1 {
    font-size: 35px;
    text-align: center;
}

/* Base da caixa de input, sem a seta */
.input-caixa {
    position: relative;
    width: 100%;
    height: 50px;
    /* Usando margem consistente para todos os campos */
    margin: 30px 0;
}

/* Estilo para TODOS os Inputs (Email, Cargo, Senha) */
.input-caixa input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    font-size: 16px;
    border-radius: 30px; /* Bordas arredondadas (estilo original) */
    color: #fff;
    /* Aumentando o padding para acomodar texto e borda */
    padding: 0 20px; 
}

.input-caixa input::placeholder {
    color: #dfdfdf;
}


/* --- ESTILOS ESPECÍFICOS PARA O CAMPO DE SETOR (SELECT) --- */

/* Aplica o mesmo estilo visual de input ao select */
.input-caixa select {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    font-size: 16px;
    border-radius: 30px;
    color: #fff;
    padding: 0 45px 0 20px; /* Padding extra à direita para a seta */
    
    /* === OCULTA A SETA NATIVA DO NAVEGADOR === */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 

    /* === ADICIONA A SETA PERSONALIZADA SOMENTE AQUI === */
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="%23ffffff" d="M10 3L6 7L2 3z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 20px center; /* Posiciona a seta mais para dentro */
    background-size: 12px;
}

/* Estilizando as Opções do Select */
.input-caixa select option {
    background-color: hsl(210, 100%, 40%); /* Fundo igual ao container */
    color: #fff;
}

/* --- FIM DOS ESTILOS ESPECÍFICOS --- */

.lembra {
    display: flex;
    justify-content: space-between;
}

.lembra label input {
    accent-color: #fff;
    margin-right: 5px;
}

.lembra a {
    text-decoration: none;
    color: #fff;
}

.lembra a:hover {
    text-decoration: underline;
}

.login-botao {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.login-botao:hover {
    background-color: #5d83ff;
    border: 2px rgba(255, 255, 255, .2);
    color: #fff;
    transition: 0.5s;
}

img {
    width: 150px;
    justify-content: center;
    align-items: center;
}